# Kotlinのプロジェクトでコーディングスタイルを統一するには、プロジェクトのルートディレクトリに
# .editorconfig ファイルを配置し、インデントや改行コードなどのルールを設定します。

root = true

[*.{kt,kts}]
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
