# Kotlinのプロジェクトでコーディングスタイルを統一するには、プロジェクトのルートディレクトリに
# .editorconfig ファイルを配置し、インデントや改行コードなどのルールを設定します。

root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ij_kotlin_spaces_around_equality_operators = true
ij_continuation_indent_size = 4
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_allow_trailing_comma = false

